@import "~bootstrap/scss/bootstrap.scss";
$primary: #d0d6ed;
$secondary: #6b8e76;
$tertiary: #998d72;
$quaternary: #c6a083;
$quinary: #edc7d9;

nav.header-navbar a {
  color: white !important;
}

nav.header-navbar {
  background-color: $tertiary !important;
  padding: 0.65rem 1rem;
}

body {
  background-color: #ffffdd;
}

.list-group-item:hover {
  text-decoration: none;
  color: unset;
}

.profile-active {
  background-color: $tertiary;
  color: $white;
}
.nav-item {
  padding: 0 0.5rem;

  .nav-link {
    text-transform: uppercase;
  }
}
