$primary: #d0d6ed;
$secondary: #6b8e76;
$tertiary: #998d72;
$quaternary: #c6a083;
$quinary: #edc7d9;

a {
  color: white !important;
}

nav.header-navbar {
  background-color: $tertiary !important;
  padding: 0.65rem 1rem;
}
